.header{
    display: flex;
    flex-direction: row;
    height: 200px;
}

p{
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.description{
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 5px;
    width: 700px;
    padding-left: 5px;
    padding-right: 5px;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

body {
    background-image: url('../Pictures/background.jpg');
    /* Other background properties (optional) */
    background-size: cover; /* To make the image cover the entire background */
    background-repeat: no-repeat; /* To prevent the image from repeating */
}

  